.editcolor {
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 13px; 
    padding-right: 13px; 
    background-color:#F7DB6A!important;
}

.bold-icon {
    position: relative;
}

.bold-icon::before { 
    -webkit-text-stroke-width: 1px;
}



.download {
    color :gray!important;
    font-style:italic;
    cursor:pointer;
    margin:0px!important; 
}

.centers {
    align-items:center;
    justify-content: center;
}

/* lgu visionMission */
.tableheader {

    font-size:16px!important;
    color:white!important;
    font-weight: bold!important;
    text-align: center;
}
.tableDQ {
    width: 100%!important;
    border-collapse: collapse!important;
}
.tableheader2 {
 
    font-size:14px!important;
    padding: 8px;
    text-align: left;
    word-wrap: break-word; /* Ensures long words will break and wrap */
}
.text-center {
    text-align:  center; 
}
.center {
    text-align: center; 
}

.table2ndth {
    font-size:15px!important;
    text-align:center!important;
    color:gray!important;
    padding:8px
}

.table2ndtd {
    font-size:15px!important;
    text-align:center!important;
    color:black!important;
    padding:8px
}

.fontA {
    font-size:14px;
}

.textarealineheight  {
    width:inherit;
    height:300px;
    max-height:1050px!important;
    line-height:1.5;
}
 .white {
    color:white;
 }
 .nowrap {
    white-space:nowrap; 
 }
 .middletext {
    vertical-align:center!important
 }
 .label1 {
    margin:2px
 }

 .inputstyleNone {
        border: none;
        outline: none;
        background: none;
        box-shadow: none;
        padding: 0;
        margin: 0;
        text-align:center
 }

 .inputstyleNone:focus {
    outline: none;
    box-shadow: none;
    cursor:pointer
}

 .textArea {
    width:inherit;
    height:300px!important;
    max-height:1050px!important;
    line-height:1.5!important;
 }