.editcolor {
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 13px; 
    padding-right: 13px; 
    background-color:#F7DB6A!important;
}

.bold-icon {
    position: relative;
}

.bold-icon::before { 
    -webkit-text-stroke-width: 1px;
}

/* icons */
/* .navbar-nav .nav-link i.now-ui-icons {
    opacity: 1;
} */

.download {
    color :gray!important;
    font-style:italic;
    cursor:pointer;
    margin:0px!important; 
}

.centers {
    align-items:center;
    justify-content: center;
}

/* lgu visionMission */
.tableheader {

    font-size:16px!important;
    color:white!important;
    font-weight: bold!important;
    text-align: center;
}
.text-center {
    text-align:  center; 
}
.center {
    text-align: center; 
}

.table2ndth {
    font-size:15px!important;
    text-align:center!important;
    color:gray!important;
    padding:8px
}

.table2ndtd {
    font-size:15px!important;
    text-align:center!important;
    color:black!important;
    padding:8px
}


