.formHeader {
    display: flex;
}
.inputRemarks {
    background-color: #F5F5F5;
    border:0px;
    font-size: 12px;
    width: inherit;
    /* max-height: 20vh; */
    height: 20vh;
    resize: none;
}
.editContentButtons {
    margin-bottom: 0px;
    margin-top: auto;
}
input.inputHeader {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}
input.inputHeader:focus {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}
.inputHeaderPeriod {
    display: block;
    width: 20%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.inputHeaderPeriod:focus {
    display: block;
    width: 20%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.imgLogo {
    width: 10%;
    height: 13%;
}

.tab {
    text-align: center;
    font-size: 11px;
    border: 1px solid green;
}

.tab.active {
    border-top: 1px solid green;
}
.mainHeader {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}
thead th {
    background-color: #f2f2f2;
}

.form6Input {
    outline: none;
    width: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
}
.form6InputS {
    outline: none;
    width: 100%;
    border: none;
    background-color: transparent;
    font-weight: bold;
}
.form7Input {
    /* outline: none; */
    width: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
    height: 10vh;
    resize: none;
}
.form8InputS {
    outline: none;
    width: 100%;
    border: none;
    background-color: transparent;
    font-weight: bold;
}
.form8Input {
    /* outline: none; */
    width: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
    height: 10vh;
    resize: none;
}
.form8InputB {
    /* outline: none; */
    width: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
    height: 4vh;
}
.form8InputBot {
    width: 40%;
    text-align: center;
    /* outline: none; */
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}
.interviewForm {
    outline: none;
    width: 100%;
    border: none;
    background-color: transparent;
}
.interviewForms {
    outline: none;
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
}
.interviewFormInput {
    /* outline: none; */
    width: 100%;
    border: none;
    background-color: transparent;
    resize: none;
}
.interviewFormsTotal::-webkit-inner-spin-button,
.interviewFormsTotal::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.interviewFormsTotal {
    -moz-appearance: textfield;
    outline: none;
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
}
.interviewFormsnum {
    text-align: center;
}
.interviewFormSub {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}
#subASTot {
    font-weight: bold;
}

.formOverallInputS {
    outline: none;
    width: 100%;
    border: none;
    background-color: transparent;
}
.formOverallInput {
    outline: none;
    width: 90%;
    text-align: center;
    border: none;
    background-color: transparent;
}
.formOverallInputB {
    outline: none;
    width: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
}
.formOverallInputBot {
    width: 40%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}

.text-area-custom {
    max-height:380px;
    height:300px;
    border: 1px solid lightgray;
    border-radius:5px"
}