
  .main-panel > .content {
    width: auto;
  }

  #badge-pending{

    padding: 5px 5px 5px !important;

  }


  #badge-draft{

    padding: 5px 5px 5px !important;

  }

.btn-edit {
    border-radius: 20px !important;
}



  /* Ryan */
  /* formBuilderCSS */
 .formRow { 
    border-left: 6px solid lightblue;
    padding-top:3px; 
    padding-bottom:3px;
    width:100% 
    
  } 
.statusPending {
  margin:0px;
  font-size:14px;
  border-radius: 3px;
  font-weight:bold;
  color:white;
  padding:5px;
  background-color:#e7b14b;
  display:absolute
}
.statusNA {
  margin:0px;
  font-size:14px;
  border-radius: 3px;
  font-weight:bold;
  color:white;
  padding:5px; 
  background-color:gray;
  display:absolute
}

.statusDraft {
  margin:0px;
  font-size:14px;
  border-radius: 3px;
  font-weight:bold;
  color:white;
  padding:5px;
  background-color:#6295A2 ;
  display:absolute
}
 
.statusDeclined {
  margin:0px;
  font-size:14px;
  border-radius: 3px;
  font-weight:bold;
  color:white;
  padding:5px;
  background-color:#D95F59 ;
  display:absolute
}

.statusApproved {
  margin:0px;
  font-size:14px;
  border-radius: 3px;
  font-weight:bold;
  color:white;
  padding:5px;
  background-color:#0ab852 ;
  display:absolute
}

.statusCounts {
  margin:0px;
  font-size:14px;
  border-radius: 3px;
  font-weight:bold;
  color:white;
  padding:5px;
  background-color:#91bd0c ;
  display:absolute
}
.statusEntry {
  margin:0px;
  font-size:14px;
  border-radius: 3px;
  font-weight:bold;
  color:white;
  padding:5px;
  background-color:#006769 ;
  display:absolute
}


.bolder {
  font-weight: bolder!important;
}
  
.bold {
  font-weight: bold!important;
}

.cursor {
  cursor: pointer;
}

.custom-thead {
    font-weight:bold;
    font-size:16px!important;
    color:white;
    text-align:center"
}